<div id="form-signup" class="form-container hidden">
  <input type="text" id="firstName" placeholder="First Name" required>
  <input type="text" id="middleName" placeholder="Middle Name">
  <input type="text" id="lastName" placeholder="Last Name" required>
  <input type="text" id="signupEmail" placeholder="Email" required>
  <input type="password" id="signupPass" placeholder="Password" required>
  <input type="text" id="street" placeholder="Street" required>
  <input type="text" id="city" placeholder="City" required>
  <input type="text" id="province" placeholder="Province" required>
  <input type="text" id="postalCode" placeholder="Postal Code" required>
  <input type="text" id="country" placeholder="Country" value="Philippines" required>
  <input type="text" id="signupPhone" placeholder="Phone Number" required>
  <button onclick="signup()">Sign Up</button>
  <button class="main-btn" onclick="goBack()">Back</button>
</div>
